body {
  background-color: darkgray;
  text-align: justify;
  align-items: center;
  justify-content: center;
}

h1{
  color: white;
  text-align: center;
}

.tasklist {
  padding-top: 20px;
  width: auto;
  text-align: justify;
  margin: 0px 0px 0px 580px;
}

.tasklist .index {
  padding-right: 10px;
}
